<h1>Add new Ironhacker</h1>

<form action="" method="get" class="form">
  <div class="form">
    <label for="name">Name</label>
    <input type="text" name="userName" id="name" required>
  </div>
  <div class="form">
    <label for="email">Email</label>
    <input type="email" name="userEmail" id="email" required>
  </div>
  <div class="form">
    <label for="favoriteLanguage">Favorite Language</label>
    <input type="text" name="userFavoriteLangage" id="favoriteLanguage">
  </div>
</form>
